.wp-block-media-text,
.wp-block-media-text.aligncenter {
	display: grid;
}

.wp-block-media-text {
	grid-template-rows: auto;
	grid-template-columns: 50% 1fr;
	.has-media-on-the-right {
		grid-template-columns: 1fr 50%;
	}
}

.wp-block-media-text .wp-block-media-text__media {
	grid-column: 1;
	grid-row: 1;
	margin: 0;
	align-self: center;
}

.wp-block-media-text .wp-block-media-text__content {
	grid-column: 2;
	grid-row: 1;
	word-break: break-word;
	padding: 0 8% 0 8%;
	align-self: center;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media {
	grid-column: 2;
	grid-row: 1;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
	grid-column: 1;
	grid-row: 1;
}

.wp-block-media-text > figure > img,
.wp-block-media-text > figure > video {
	max-width: unset;
	width: 100%;
	vertical-align: middle;
}
